<!DOCTYPE html>
<head>
    <!-- skywayAPI -->
    <script src="https://cdn.webrtc.ecl.ntt.com/skyway-4.4.4.js"></script>
    <meta charset="UTF-8">
    <title>simple_calls</title>
</head>
<body>
    <video id="my-video" width="400px"></video>
    <p id="my-id"></p>
    <input id="their-id"></input>
    <div id="make-call">
        <input type="button" value="発信" v-on:click="makeCallButtonOnClick()" v-bind:disabled="disableFlag" />
    </div>
    <div id="disConnect">
        <input type="button" value="切断" v-on:click="disConnectButtonOnClick()"  v-bind:disabled="disableFlag" />
    </div>
    <div id="nowDateTime">
        <p>現在時刻：{{ current.toLocaleString() }}</p>
    </div>
    <video id="their-video" width="400px"></video>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.29/dist/vue.global.js"></script>
    <script type="text/javascript" src="js/simple_calls.js"></script>
</body>